.aside {
  width: 250px;
  min-width: 250px;
  display: none;
  transition: 0.1s linear;

  .filters-head__action-btn {
    height: 36px;
    min-height: 36px;
  }

  .filters-head__action-btn {
    max-width: 100%;
  }

  @media (min-width: $breakpoint992) {
    display: block;
  }

  .filters-head__action-btn {
    background-color: #272728;
  }

  // .aside__inner

  &__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 0;
    row-gap: 60px;
    border-right: 1px solid #252525;
  }

  // .aside__header

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
    padding: 0 20px;

    .logo {
      margin-right: auto;
      transition: 0.2s linear;

      img {
        transition: 0.2s linear;
      }
    }
  }

  // .aside__btn-size

  &__btn-size {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 0;
    outline: 0;
    margin-left: auto;
    transition: transform 0.2s linear;

    @media (hover:hover) {
      &:hover {
        transform: translateX(-3px);
      }
    }

  }

  // .aside__main

  &__main {
    .nav {
      position: static;
      padding: 0;
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
      -webkit-user-select: auto;
      -moz-user-select: auto;
      -ms-user-select: auto;
      user-select: auto;
      pointer-events: visible;
      overflow: hidden;
    }

    .nav__list {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }

    .nav__link-arrow {
      display: none;
    }

    .nav__item {
      @media (hover:hover) {
        &:hover {
          .nav__link-icon {
            background-color: var(--green-2);

            img {
              filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6786%) hue-rotate(343deg) brightness(120%) contrast(101%);
            }
          }

          .nav__link::before {
            opacity: 1;
          }
        }
      }
    }

    .nav__link {
      padding: 0 20px 0 0;
    }

    .nav__item.active .nav__link::before {
      right: 0;
    }
  }

  // .aside__footer

  &__footer {
    padding: 0 20px;
  }

  // .aside__banner

  &__banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding: 46px 16px;
    margin-top: auto;
    background-color: #272728;
    background-image: url('../img/reck/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;

    @media (max-width: 389px) {
      padding: 0 16px;
    }
  }

  // .aside__banner-label

  &__banner-label {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    color: var(--text-1);
    animation: fade 0.3s linear;
  }

  // .aside__banner-picture

  &__banner-picture {
    display: flex;
    align-items: center;
  }

  .filters-head__actions {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 0 20px;
  }
}

.filters-head {

  // .filters-head__balance

  &__balance {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    width: 100%;
    height: 36px;
    padding: 9px 16px;
    border-radius: 8px;
    background-color: #272728;
  }

  // .filters-head__balance-text

  &__balance-text {
    font-size: 12px;
    text-align: center;
    color: var(--text2);
  }

  // .filters-head__balance-sum

  &__balance-sum {
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: var(--green-2);
  }
}



.aside.active {
  min-width: 100px;
  width: 100px;

  .aside__btn-size {
    transform: translateX(-3px) rotate(0deg) scaleX(-1);
  }

  .logo {
    margin: 0 auto;

    img {
      width: 62px;
    }
  }

  .nav__link-text {
    display: none;
  }

  .nav__link {
    justify-content: center;
  }

  .aside__main .nav__item.active .nav__link::before {
    content: none;
  }

  .nav__item {
    @media (hover:hover) {
      &:hover {
        .nav__link-icon {
          background-color: var(--green-2);

          img {
            filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(6786%) hue-rotate(343deg) brightness(120%) contrast(101%);
          }
        }

        .nav__link::before {
          opacity: 0;
        }
      }
    }
  }

  .filters-head__action-btn {
    min-width: 60px;
  }

  .filters-head__action-btn span {
    display: none;
  }

  .filters-head__balance-text {
    display: none;
  }

  .aside__banner-label {
    display: none;
  }

  .aside__banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
  }

  .aside__banner-picture {
    height: 40px;

    img {
      width: 40px;
      height: 40px;
    }
  }

}