.desktop-wrapper {
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  width: 100%;

  main {
    flex-grow: 1;
    padding: 0 10px 80px;

    @media (min-width: $breakpoint992) {
      padding: 0 0 20px;
    }
  }

  .main--not-padding {
    padding: 0;
  }
}



.bg {
  background-image: image-set(url("../img/start/bg.webp") 1x type("image/webp"), url("../img/start/bg.png") 1x, url("../img/start/bg@2x.webp") 2x type("image/webp"), url("../img/start/bg@2x.png") 2x);
  background-image: -webkit-image-set(url("../img/start/bg.webp") 1x type("image/webp"), url("../img/start/bg.png") 1x, url("../img/start/bg@2x.webp") 2x type("image/webp"), url("../img/start/bg@2x.png") 2x);
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $breakpoint992) {
    background-image: image-set(url("../img/start/bg-desktop.webp") 1x type("image/webp"), url("../img/start/bg-desktop.png") 1x, url("../img/start/bg-desktop@2x.webp") 2x type("image/webp"), url("../img/start/bg-desktop@2x.png") 2x);
    background-image: -webkit-image-set(url("../img/start/bg-desktop.webp") 1x type("image/webp"), url("../img/start/bg-desktop.png") 1x, url("../img/start/bg-desktop@2x.webp") 2x type("image/webp"), url("../img/start/bg-desktop@2x.png") 2x);
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  row-gap: 4px;
  width: 100%;
  min-height: 48px;
  height: fit-content;
  padding: 10px;
  border: 1px solid transparent;
  background-color: var(--green-2);
  outline: 0;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s linear;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-1);

  &--mini {
    font-size: 12px;
    min-height: 32px;
  }

  &--large {
    font-size: 14px;
    min-height: 48px;
  }

  &--red {
    background-color: var(--red);
  }

  &--red-outline {
    padding: 4px 10px;
    border-radius: 4px;
    width: 140px;
    min-height: 32px;
    border: 1px solid var(--red);
    background-color: transparent;
    font-weight: 600;
    font-size: 10px;
  }


  @media (hover:hover) {
    &:hover {
      border-color: var(--green-2);
      background-color: transparent;
    }
  }

  &:active,
  &:focus {
    border-color: var(--green-2);
    background-color: transparent;
  }
}

.second-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  row-gap: 4px;
  width: 100%;
  height: fit-content;
  padding: 10px;
  background-color: #272728;
  border: 0;
  outline: 0;
  border-radius: 8px;
  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--text2);

  &--mini {
    font-size: 12px;
    min-height: 32px;
  }

  &--large {
    font-size: 14px;
    min-height: 48px;
  }
}

.outline-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  row-gap: 4px;
  width: 100%;
  height: fit-content;
  padding: 10px;
  background-color: transparent;
  border: 1px solid var(--green-2);
  outline: 0;
  border-radius: 8px;
  cursor: pointer;

  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-1);
  transition: 0.2s linear;

  &--mini {
    font-size: 12px;
    min-height: 32px;
  }

  &--large {
    font-size: 14px;
    min-height: 48px;
  }

  &--red {
    font-weight: 600;
    font-size: 11px;
    border-color: var(--red);
    min-height: 48px;
  }

  &--fit-width {
    width: fit-content;
  }

  @media (hover:hover) {
    &:hover {
      border-color: var(--green-2);
      background-color: var(--green-2);
    }
  }

  &:active,
  &:focus {
    border-color: var(--green-2);
    background-color: var(--green-2);
  }
}

.green-text {
  color: var(--green-2);
}

.orange-text {
  color: var(--orange-color);
}

.red-text {
  color: var(--red);
}

.heading {
  display: flex;
  align-items: center;
  column-gap: 4px;

  // .heading__title

  &__title {
    font-weight: 500;
    font-size: 20px;
    color: var(--text-1);
  }
}