.filters-head {
  width: 100%;
  padding: 12px 0;
  border-top: 1px solid var(--graphite);

  @media (min-width: $breakpoint992) {
    padding: 10px 20px;
  }

  // .filters-head__form

  &__form {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;

    @media (min-width: $breakpoint992) {
      flex-direction: row-reverse;
      column-gap: 12px;
    }
  }

  // .filters-head__row

  &__row {
    display: flex;
    align-items: center;
    column-gap: 20px;

    &--justify {
      justify-content: space-between;
    }

    &--full {
      width: 100%;
    }
  }

  // .filters-head__icons

  &__icons {
    display: flex;
    align-items: center;
    column-gap: 16px;
  }

  // .filters-head__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    outline: 0;
    background-color: transparent;

    &.active {
      img {
        filter: brightness(0) saturate(100%) invert(42%) sepia(26%) saturate(2599%) hue-rotate(134deg) brightness(95%) contrast(94%);
      }
    }

  }

  // .filters-head__btn--watchlist

  &__btn--watchlist {}

  // .filters-head__btn--positions

  &__btn--positions {}

  // .filters-head__actions

  &__actions {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-left: auto;
    width: 100%;
  }

  // .filters-head__action

  &__action {
    width: 100%;
  }

  // .filters-head__action-btn

  &__action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    padding: 8px 10px;
    width: 100%;
    min-height: 32px;
    border: 1px solid var(--text2);
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.2s linear, color 0.2s linear;

    font-family: var(--font-family);
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: var(--text2);

    img {
      transition: filter 0.2s linear;
      filter: brightness(0) saturate(100%) invert(65%) sepia(5%) saturate(740%) hue-rotate(193deg) brightness(91%) contrast(87%);
    }

    &--not-border {
      border: 0;
    }

    &--large {
      padding: 12px;
    }

    &.active {
      background-color: var(--green-2);
      border-color: var(--green-2);
      color: var(--text-1);

      img {
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
      }
    }

    @media (hover:hover) {
      &:hover {
        img {
          filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
        }
      }
    }

    @media (hover:hover) {
      &:hover {
        background-color: var(--green-2);
        border-color: var(--green-2);
        color: var(--text-1);
      }
    }

    @media (min-width: $breakpoint992) {
      min-width: 146px;
      min-height: 40px;
    }
  }

  // .filters-head__naming

  &__naming {
    display: flex;
    align-items: center;
    column-gap: 4px;
  }

  // .filters-head__name

  &__name {
    font-weight: 500;
    font-size: 20px;
    color: var(--text-1);
  }

  // .filters-head__input-wrapper

  &__input-wrapper {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    column-gap: 12px;
    margin-left: auto;
  }

  // .filters-head__input

  &__input {
    width: 140px;
    height: 40px;
    padding: 12px 26px 12px 18px;
    border-radius: 8px;
    background-color: #272728;
    border: 1px solid transparent;
    outline: 0;
    transition: border 0.2s linear;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--text2);

    @media (min-width: $breakpoint992) {
      width: 182px;
    }

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: var(--text-1);
    }

    @media (hover:hover) {
      &:hover {
        border-color: var(--green-2);
      }
    }

    &:active,
    &:focus {
      border-color: var(--green-2);
    }
  }

  // .filters-head__input-text
  &__input-text {
    font-size: 12px;
    color: var(--text2);
  }

  // .filters-head__input-icon

  &__input-icon {
    position: absolute;
    right: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 400;
    font-size: 14px;
    color: var(--text2);
  }
}