.checkbox {

  // .checkbox__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  // .checkbox__item

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
  }

  // .checkbox__item-input

  &__item-input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -100;

    &:checked~.checkbox__item-label {

      .checkbox__item-square {
        background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='1.5' stroke='%23089981'/%3E%3Cpath d='M6.77499 11L3.92499 8.15005L4.63749 7.43755L6.77499 9.57505L11.3625 4.98755L12.075 5.70005L6.77499 11Z' fill='%23089981'/%3E%3C/svg%3E%0A");
      }
    }
  }

  // .checkbox__item-label

  &__item-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    column-gap: 20px;
    cursor: pointer;
  }

  // .checkbox__item-text

  &__item-text {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 14px;
    color: var(--text-1);
  }

  // .checkbox__item-square

  &__item-square {
    width: 16px;
    height: 16px;
    min-width: 16px;

    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='0.5' width='15' height='15' rx='1.5' stroke='%239295A5'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: center;
  }
}



.input {

  // .input__list

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  // .input__item

  &__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .input__item-text

  &__item-text {
    min-width: 100px;
    width: 100px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--text-1);
  }

  // .input__item-wrapper

  &__item-wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
  }

  // .input__item-input

  &__item-input {
    width: 100%;
    padding: 10px 24px 10px 12px;
    border-radius: 8px;
    height: 40px;
    background-color: #272728;
    border: 1px solid transparent;
    outline: 0;
    transition: border 0.2s linear;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--text-1);

    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: var(--text2);
    }

    @media (hover:hover) {
      &:hover {
        border-color: var(--green-2);
      }
    }

    &:active,
    &:focus {
      border-color: var(--green-2);
    }
  }

  // .input__item-decor

  &__item-decor {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--text2);

    &--right {
      left: auto !important;
      right: 10px !important;
    }
  }

  // .input__item-delete
  &__item-delete {
    border: 0;
    outline: 0;
    background-color: transparent;
  }
}

.input-rows {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.input-row {
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  // .input-row__label

  &__label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    // margin-bottom: 12px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--text-1);
    cursor: pointer;

    span {
      font-size: 11px;
      color: var(--text2);
    }

    &--inline {
      display: inline;

      .green-text {
        display: inline;
      }
    }
  }

  // .input-row__wrapper

  &__wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 12px;

    img {
      position: absolute;
      left: 12px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  // .input-row__input

  &__input {
    width: 100%;
    height: 40px;
    padding: 12px 20px;
    background-color: #272728;
    border-radius: 8px;
    border: 1px solid transparent;
    outline: 0;
    transition: border 0.2s linear;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--text-1);

    &:has(~img) {
      padding: 12px 40px;
    }

    &:has(~img.input__item-decor--right) {
      padding: 12px 40px;
    }


    &::placeholder {
      font-family: var(--font-family);
      font-weight: 400;
      font-size: 14px;
      color: var(--text2);
    }

    @media (hover:hover) {
      &:hover {
        border-color: var(--green-2);
      }
    }

    &:active,
    &:focus {
      border-color: var(--green-2);
    }
  }

}

.selects {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.select {
  position: relative;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    right: 10px;
    bottom: 15px;
    width: 10px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='10' height='7' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 6.5L9.33013 0.875H0.669873L5 6.5Z' fill='%239295A5' /%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .select__label

  &__label {
    display: flex;
    margin-bottom: 10px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--text-1);
  }

  select {
    appearance: none;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    background-color: #272728;
    border-radius: 8px;
    border: 1px solid transparent;
    outline: 0;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: var(--text2);

    &:active,
    &:focus {
      border-color: var(--green-2);
    }
  }
}

/* From Uiverse.io by Yaya12085 */
.switch-only-active {
  position: relative;
  height: 10px;
  width: 28px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 9999px;
  background-color: rgb(8, 153, 129, 0.5);
  transition: all .3s ease;
}

.switch-only-active:checked {
  background-color: rgb(8, 153, 129, 0.5);
}

.switch-only-active::before {
  position: absolute;
  content: "";
  left: calc(1.5rem - 1.6rem);
  top: calc(1.5rem - 1.7rem);
  display: block;
  height: 16px;
  width: 16px;
  cursor: pointer;
  border: 1px solid var(--green-2);
  border-radius: 9999px;
  background-color: var(--green-2);
  transition: all .3s ease;
}

.switch-only-active:checked:before {
  transform: translateX(100%);
  border-color: var(--green-2);
}

.modal__footer-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  width: 100%;

  .btn {
    max-width: 190px;
  }
}

.modal__btn--cancel {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: var(--text2);
}

.input-row {

  // .input-row__types

  &__types {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
  }

  // .input-row__type

  &__type {}

  // .input-row__type-input

  &__type-input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -100;

    &:checked~.input-row__type-label {
      border: 1px solid var(--green-2);
    }
  }

  // .input-row__type-label

  &__type-label {
    display: grid;
    grid-template-columns: 40px 1fr;
    column-gap: 12px;
    align-items: center;
    padding: 10px 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    background-color: #272728;
    cursor: pointer;
  }

  // .input-row__type-tokens

  &__type-tokens {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    max-width: 40px;
    overflow: hidden;

    img {

      &:not(:first-child) {
        margin-left: -10px;
      }

      &:nth-child(1) {}

      &:nth-child(2) {
        z-index: -1;
      }

      &:nth-child(3) {
        z-index: -2;
      }

      &:nth-child(4) {
        z-index: -3;
      }

      &:nth-child(5) {
        z-index: -4;
      }

      &:nth-child(6) {
        z-index: -5;
      }
    }
  }

  // .input-row__type-text

  &__type-text {}
}

.input-row__types--thin {

  .input-row__type-label {
    grid-template-columns: 1fr;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: var(--text2);
  }
}

.input-row {

  // .input-row__tokens

  &__tokens {
    display: flex;
    align-items: center;
    width: 40px;
    min-width: 40px;
    max-width: 40px;
    margin-right: 12px;
    overflow: hidden;
  }

  // .input-row__token

  &__token {

    &:nth-child(1) {
      margin-left: 0px;
      z-index: 2;
    }

    &:nth-child(2) {
      margin-left: -10px;
      z-index: 1;
    }

    &:nth-child(3) {
      margin-left: -10px;
      z-index: 0;
    }

    &:nth-child(4) {
      margin-left: -10px;
      z-index: 0;
    }
  }
}