.start {
  padding: 70px 20px;
  background-image: image-set(url("../img/start/bg.webp") 1x type("image/webp"), url("../img/start/bg.png") 1x, url("../img/start/bg@2x.webp") 2x type("image/webp"), url("../img/start/bg@2x.png") 2x);
  background-image: -webkit-image-set(url("../img/start/bg.webp") 1x type("image/webp"), url("../img/start/bg.png") 1x, url("../img/start/bg@2x.webp") 2x type("image/webp"), url("../img/start/bg@2x.png") 2x);
  background-repeat: no-repeat;
  background-size: cover;

  // .start__inner

  &__inner {}

  // .start__rows

  &__rows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 30px;
    min-height: calc(100dvh - 140px);
    height: 100%;
  }

  // .start__row

  &__row {
    .logo {
      margin-bottom: 30px;
    }
  }

  // .start__texts

  &__texts {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  // .start__title

  &__title {
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    color: var(--text-1);
  }

  // .start__subtitle

  &__subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    color: var(--text-1);
  }
}