.tab {

  // .tab__head

  &__head {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 16px;
  }

  // .tab__contents

  &__contents {}

  // .tab__btns

  &__btns {
    display: grid;
    grid-auto-flow: column;
    border-radius: 4px;
    overflow: hidden;
  }

  // .tab__btn

  &__btn {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 42px;
    background-color: transparent;
    border-top: 1px solid var(--graphite);
    border-bottom: 1px solid var(--graphite);
    outline: 0;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: var(--text2);

    &.active {
      border-top: 1px solid var(--green-2);
      border-bottom: 1px solid var(--green-2);
      background-color: var(--green-2);
      color: var(--text-1);
    }
  }

  // .tab__contents

  &__contents {}

  // .tab__content

  &__content {
    display: none;

    &.active {
      display: block;
    }
  }

  // .tab__items

  &__items {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }

  // .tab__item

  &__item {
    display: flex;
    align-items: center;
    column-gap: 10px;

    &--border {
      border: 1px solid #212227;
      border-radius: 4px;

      .tab__info {
        padding: 12px;
      }

      .tab__blocks {
        border-top: 1px solid #212121;
        padding: 8px 12px;
      }
    }

    &--column {
      flex-direction: column;
    }
  }

  // .tab__info

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 12px;
    width: 100%;
  }

  // .tab__token

  &__token {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  // .tab__token-picture

  &__token-picture {
    position: relative;
    z-index: 1;
  }

  // .tab__token-pic

  &__token-pic {
    min-width: 46px;
  }

  // .tab__token-subpic

  &__token-subpic {
    position: absolute;
    right: -8px;
    bottom: 0;
    z-index: 2;
  }

  // .tab__token-rows

  &__token-rows {
    display: flex;
    flex-direction: column;
  }

  // .tab__token-row

  &__token-row {
    display: flex;
    align-items: flex-end;
    column-gap: 6px;

    &:nth-child(1) {
      font-weight: 400;
      font-size: 12px;
      color: #9295a5;
    }

    &:nth-child(2) {
      font-weight: 600;
      font-size: 14px;
      color: #fff;
    }
  }

  // .tab__token-name

  &__token-name {
    font-weight: 600;
    font-size: 16px;
    color: var(--text-1);
  }

  // .tab__token-subname

  &__token-subname {
    font-size: 14px;
    color: var(--text2);
  }

  // .tab__token-block

  &__token-block {
    display: flex;
    align-items: center;
    column-gap: 2px;

    span {
      font-size: 12px;
      color: var(--text2);
    }

    p {
      font-weight: 600;
      font-size: 12px;
      color: var(--text-1);
    }
  }

  // .tab__item-btn

  &__item-btn {
    margin-left: auto;
    width: 74px;
    height: 32px;
  }

  // .tab__token-socials

  &__token-socials {
    display: flex;
    align-items: center;
    column-gap: 6px;
    margin-top: 4px;
  }

  // .tab__token-social

  &__token-social {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // .tab__blocks 
  &__blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    width: 100%;
  }

  // .tab__block

  &__block {
    display: flex;
    align-items: center;
    column-gap: 4px;

    span {
      font-size: 12px;
      color: var(--text2);
    }

    p {
      font-weight: 600;
      font-size: 12px;
      color: var(--text-1);
    }
  }

  // .tab__graphik

  &__graphik {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: auto;

    @media (min-width: $breakpoint992) {
      margin-left: 0;
      justify-content: space-between;
      flex-direction: row-reverse;
      column-gap: 80px;
    }
  }

  // .tab__graphik-num

  &__graphik-num {
    font-weight: 600;
    font-size: 12px;
  }

  // .tab__graphik-picture

  &__graphik-picture {}


  // .tab__times

  &__times {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: space-between;

    @media (min-width: $breakpoint992) {
      margin-left: auto;
    }
  }

  // .tab__time

  &__time {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    background-color: #1e1e20;
    border-radius: 4px;
    border: 1px solid transparent;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: var(--text-1);

    &.active {
      border-color: var(--green-2);
    }
  }

}

.tab {

  // .tab__chain

  &__chain {
    margin-top: 24px;
  }

  // .tab__chain-label

  &__chain-label {
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 16px;
    color: var(--text-1);
  }

  // .tab__chain-graphik

  &__chain-graphik {}

  // .tab__chain-content

  &__chain-content {
    display: flex;
    align-items: center;
    column-gap: 24px;
    padding: 24px;
    border: 1px solid #212227;
    border-radius: 4px;
  }

  // .tab__chain-circkle

  &__chain-circkle {
    width: 10px;
    height: 10px;
    min-width: 10px;
    border-radius: 100%;
  }

  // .tab__chain-list

  &__chain-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  // .tab__chain-item

  &__chain-item {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  // .tab__chain-text

  &__chain-text {
    font-size: 12px;
    line-height: 200%;
    text-align: left;
    color: var(--text-1);
  }

  // .tab__chain-percent

  &__chain-percent {
    margin-left: auto;
    font-size: 12px;
    line-height: 200%;
    text-align: right;
    color: var(--text-1);
  }
}


.subtabs {

  // .subtabs__head

  &__head {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 10px;
    padding: 6px;
    border-radius: 8px;
    background-color: #2f2f30;
  }

  // .subtabs__btn

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: transparent;
    border: 0;
    outline: 0;
    padding: 10px;

    font-family: var(--font-family);
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: var(--text2);

    &.active {
      background-color: var(--green-2);
      color: var(--text-1);

      &.subtabs__btn--red {
        background-color: var(--red);
      }
    }
  }

  // .subtabs__contents

  &__contents {}

  // .subtabs__content

  &__content {
    display: none;

    &.active {
      display: block;
    }
  }
}

.sessions {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin: 20px 0;

  // .sessions__row

  &__row {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  // .sessions__row-label

  &__row-label {
    font-weight: 700;
    font-size: 12px;
    color: var(--green-2);
  }

  // .sessions__item

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  // .sessions__item-info

  &__item-info {}

  // .sessions__item-text

  &__item-text {
    font-family: var(--font-family);
    color: var(--text-1);
  }

  // .sessions__item-text--bold

  &__item-text--bold {
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
  }

  // .sessions__item-text--reg

  &__item-text--reg {
    font-size: 14px;
  }

  // .sessions__item-text--light

  &__item-text--light {
    font-size: 14px;
    color: var(--text2);
  }

  // .sessions__item-status

  &__item-status {
    font-size: 14px;
    line-height: 140%;
    text-align: right;
    color: var(--text2);

    p.green-color {
      font-weight: 600;
      font-size: 16px;
      color: var(--green-2);
    }
  }
}

.tab__graphik-num-label {
  font-weight: 400;
  font-size: 12px;
  color: #9295a5;
}

.tab__info-item {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.tab__content-doubles {
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-direction: column;

  @media (min-width: $breakpoint992) {
    border-top: 1px solid #212121;
    width: 100%;
  }

  @media (min-width: $breakpoint1450) {
    flex-direction: row;
  }
}

.tab__content-double {
  width: 100%;
  flex-direction: column;

  .tab__chain-content {
    border: 0;
    padding: 0;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .tab__chain {
    margin-top: 0;
    max-width: 388px;
    width: 100%;
  }

  .tab__chain-label {
    margin-bottom: 24px;
  }

  @media (min-width: $breakpoint992) {
    padding: 20px;
    border-right: 1px solid #212121;
    border-bottom: 1px solid #212121;

    .table-wrapper {
      border: 0;
    }
  }

  @media (min-width: $breakpoint1450) {
    border-bottom: 0;

    &:has(.tab__chain) {
      max-width: 388px;
    }
  }
}

.tab__content-label {
  margin-bottom: 20px;

  &--not-margin {
    margin-bottom: 0;
  }
}

.tab__two-columns {

  @media (min-width: $breakpoint1450) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
  }

  @media (min-width: $breakpoint992) {}
}

.tab__items--max-w-432 {
  max-width: 432px;
  width: 100%;
}